@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
<MudThemeProvider Theme="MyCustomTheme" />

<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout Style="display: flex;flex-direction: column; min-height: 100vh;">
    <MudMainContent Style="padding-top:0px">
        <MudAppBar Elevation="1" DisableGutters="true" Dense="false" Fixed="true">
            <!-- Hamburger menu icon for mobile view -->
            <MudHidden Breakpoint="Breakpoint.MdAndUp">
                <MudIconButton Icon="@Icons.Material.Filled.Menu" OnClick="@ToggleMenu" @onfocusout="ToggleMenu" Class="my-custom-hover-button">
                </MudIconButton>
            </MudHidden>
                <div class="logo">
                    <img src="/emptycart.png" alt="logo" />"
                </div>
            <div class="links">
                <MudHidden Breakpoint="Breakpoint.SmAndDown">
                    <!-- Wrapper for centered items -->
                    <!-- Desktop links -->

                    <MudButton OnClick="@ShopClicked" Class="nav-button">Shop</MudButton>
                    <MudButton  OnClick="@GalleryClicked" Class="nav-button">Gallery</MudButton>
                    <MudButton  OnClick="@FAQClicked" Class="nav-button">FAQ</MudButton>
                    <MudButton  OnClick="@AboutUsClicked" Class="nav-button">About Us</MudButton>
                    <MudButton  OnClick="@ContactUsClicked" Class="nav-button">Contact Us</MudButton>
                </MudHidden>
            </div>
            <div class="icons">
                <Search />
                <UserButton />
                <CartCounter />
            </div>
        </MudAppBar>
        @if (MenuOpen)
        {
            <div class="menu-dropdown">
                <MudList>
                    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home" Href="/" Class="full-width-link">Home</MudNavLink>
                    <MudNavLink Class="menu-nav-link" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Store" OnClick="@ShopClicked">Shop</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Image" OnClick="@GalleryClicked">Gallery</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.AllInclusive"
                            OnClick="@AboutUsClicked">About Us</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.QuestionMark" OnClick="@FAQClicked">FAQ</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.AlternateEmail" OnClick="@ContactUsClicked">Contact Us</MudNavLink>
                </MudList>
            </div>
        }

        <MudContainer Class="@containerClass">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>
@code {
    private bool MenuOpen = false;
    private string containerClass = "";
    private string _mainContentClass = string.Empty;
    private string MainContentClass
    {
        get => _mainContentClass;
        set
        {
            if (_mainContentClass != value)
            {
                _mainContentClass = value;
                StateHasChanged();
            }
        }
    }

    private void ToggleMenu()
    {
        MenuOpen = !MenuOpen;
        MainContentClass = MenuOpen ? "main-content-push-down" : "";
        StateHasChanged();
    }
    protected override void OnInitialized()
    {
        // Ensuring the main content has enough padding to not be hidden under the AppBar.

        /**var uri = new Uri(NavigationManager.Uri);
        if (uri.LocalPath == "/")
        {
            Console.WriteLine("Special Padding Set");
            containerClass = "home-container-padding";
        }else
        {
            
        }*/
    }
    private void HomeClicked() => NavigationManager.NavigateTo("/");
    private void ShopClicked() => NavigationManager.NavigateTo("/shop/products/1");
    private void GalleryClicked() => NavigationManager.NavigateTo("/gallery");
    private void FAQClicked() => NavigationManager.NavigateTo("/faq");
    private void AboutUsClicked() => NavigationManager.NavigateTo("/aboutus");
    private void ContactUsClicked() => NavigationManager.NavigateTo(RouteConstants.ShopCreateProduct);
    private void ProfileClicked() => NavigationManager.NavigateTo("/profile");
    private void CartClicked() => NavigationManager.NavigateTo("/cart");

    MudTheme MyCustomTheme = new MudTheme()
    {
        Typography = new Typography()
        {
            Default = new Default()
            {

                FontFamily = new[] { "Outfit" }
            }
        },
        Palette = new PaletteLight()
        {
            Primary = "#B7C799", // Muted Green
            Secondary = "#F1E7D0", // Warm Beige
            AppbarBackground = "#7695B3", // Dusty Blue for AppBar Background
            AppbarText = "#3A3E44", // Charcoal Grey for AppBar Text
            Background = "#F7F7F7", // Off-White for General Background
            Surface = "#F1E7D0", // Warm Beige for Card Surfaces and such
            DrawerBackground = "#B7C799", // Muted Green for Drawer Background
            DrawerText = "#3A3E44", // Charcoal Grey for Drawer Text
            ActionDefault = "#EC7063", // Coral Pink for Call to Action
            ActionDisabled = "#C8C8C8", // Light Grey for Disabled Actions
            ActionDisabledBackground = "#F7F7F7", // Off-White for Disabled Background
            TextPrimary = "#3A3E44", // Charcoal Grey for Primary Text
            TextSecondary = "#7695B3", // Dusty Blue for Secondary Text
            Error = "#EC7063", // Coral Pink for Errors
            Info = "#C7B0DF", // Soft Lilac for Info Alerts
            Success = "#7695B3", // Dusty Blue for Success Messages
            Warning = "#EC7063", // Coral Pink for Warnings
        },
        LayoutProperties = new LayoutProperties()
        {
            AppbarHeight = "64px",
            DrawerWidthLeft = "250px", // A more typical drawer width
        }
    };
}
