@using System.Security.Claims
@using System.Text;
@inject IProductService ProductService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IFavouriteService FavouriteService
@inject NavigationManager NavigationManager
@implements IDisposable 
<MudContainer Class="pest" Style="flex-direction:unset; padding-top:0; ">
<PageTitle>Shop - </PageTitle>
@if (ProductService.Products == null){
    <ReusableResultSnackbar @ref="resultSnackbar"
                            Message="@message"
                            Severity="@s" />
        <MudText Typo="Typo.h5">@ProductService.GetDynamicHeading()</MudText>

        <MudButton OnClick="HandleClearFilterSortSearch">Clear</MudButton>
    <MudText Typo="Typo.h6" Align="Align.Left" Style="display:flex; flex-grow:1;">@ProductService.Message</MudText>
    <div class="container-center">
        <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
    </div>
}
else if(ProductService.Products.Count > 0)
{
        <MudButton OnClick="HandleClearFilterSortSearch">Clear</MudButton>
    <ul class="list-unstyled">
        @foreach (var product in ProductService.Products)
        {
            var imageSrc = product.ImageURI ?? "/images/img_placeholder.jpg";
         //   Console.WriteLine(imageSrc);
            <li class="media my-3 gx-3" style="padding-top:20px;min-height:200px;">
                <hr style= "border-top-color:black; border: 2px;"/>
                <div class="media-img-wrapper me-3">
                    <a href="/shop/product/@product.Id">
                        <img class="media-img" src="@imageSrc" alt="@product.Name" />
                    </a>
                </div>
                <div class="media-body">
                    <a href="/shop/product/@product.Id">
                        <h4 class="mb-0">@product.Name</h4>
                    </a>
                    <p>@product.Description</p>


                        @if (!User.IsInRole("Admin")){
                    <div style="align-items:flex-end;  justify-content:flex-end; display:flex;">
                            @if(product.isFavourite)
                            {
                                <MudIconButton Icon="@Icons.Material.Filled.Favorite"
                                   Color="@Color.Error" 
                                               Title="Favorited"
                                   OnClick="@(() => HandleFavoriteClick(product.Id))" />
                            }
                            else
                            {
                                <MudIconButton Icon="@Icons.Material.Filled.FavoriteBorder"
                                   Color="@Color.Default" 
                                               Title="Add to Favorites"
                                   OnClick="@(() => HandleFavoriteClick(product.Id))" />
                            }
                    </div>
                    }
                    <h5 class="price" style="padding:0px; margin:0px;">
                        $@product.Price
                    </h5>
                </div>
            </li>
            <hr/>
        }
    </ul>
    <div class="d-flex flex-column align-center" style="bottom:0; justify-content:center;align-items:center;text-align:center">
        <MudPagination Size="Size.Medium"
            Variant="Variant.Text"
            Color="Color.Primary"
            Class="my-3"
            Style=""
            Count="ProductService.PageCount"
            SelectedChanged="HandlePageChanged" />
    </div>

}else
{    // If 0 products returns from a search, for instance
        <MudButton OnClick="HandleClearFilterSortSearch">Clear</MudButton>
    <div style="height:100%; ">
    <MudText Typo="Typo.h4" Align="Align.Center">@ProductService.Message</MudText>
    <MudImage Src="/images/empty-bench-empty-productlist.png" Style="max-width:1"/>
    </div>
}
</MudContainer>
@code {
    private ClaimsPrincipal User;
    private bool productsLoaded = false; // Flag to indicate if products are loaded

    [Parameter] 
    public EventCallback<Guid> OnFavoriteToggle { get; set; }
    [Parameter] 
    public EventCallback OnClearClick { get; set; }
    private async Task HandleClearFilterSortSearch()
    {
        if (OnClearClick.HasDelegate)
        {
            await OnClearClick.InvokeAsync();
        }
    }

    /// <summary>
    /// When the user clicks the favorite button, this method is called.
    /// </summary>
    /// <param name="productId"></param>
    /// <returns></returns>
    private async Task HandleFavoriteClick(Guid productId)
    {
        if (OnFavoriteToggle.HasDelegate)
        {
            await OnFavoriteToggle.InvokeAsync(productId);
        }
    }

    public void Dispose()
    {
        ProductService.ProductsChanged -= StateHasChanged;
    }
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        User = authState.User;
        ProductService.ProductsChanged += OnProductsChanged;

        await LoadProductsAsync();
        await base.OnInitializedAsync();
    }

    // if productschanged is called, then we need to update the favorite status of the products in the list in a new method so that the updateproductfavoritestatus doesnt get called when the products havent loaded yet. 
    private async Task LoadProductsAsync()
    {

        productsLoaded = true;
        await UpdateFavoritesIfNeeded();
    }

    private async Task UpdateFavoritesIfNeeded()
    {
        if (productsLoaded)
        {
            var userId = await GetUserIdAsync();
            if (userId.HasValue)
            {
                if(ProductService.Products.Any() && ProductService.Products.Count != 0)
                {
                    var userFavorites = await FavouriteService.GetFavouritesByUserId(userId.Value);
                    if (userFavorites.Success && userFavorites.Data != null)
                    {
                        UpdateProductFavoriteStatus(userFavorites.Data);
                    }
                }
            }
        }
    }

    private async void OnProductsChanged()
    {
        StateHasChanged();
        await UpdateFavoritesIfNeeded();
    }
    private void UpdateProductFavoriteStatus(List<FavouriteProductResponse> userFavorites)
    {
        foreach (var product in ProductService.Products)
        {
            product.isFavourite = userFavorites.Any(fav => fav.ProductId == product.Id);
        }
    }

    private async Task<Guid?> GetUserIdAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            var userIdClaim = user.FindFirst(ClaimTypes.NameIdentifier);
            if (userIdClaim != null && Guid.TryParse(userIdClaim.Value, out Guid userId))
            {
                return userId;
            }
        }
        return null; // User is not authenticated or the claim is not a valid Guid
    }

    // Only change page if its not the current page to avoid infinite loop.
    private void HandlePageChanged(int newPage)
    {
        ProductService.CurrentPage = newPage;
        // add one to the current page and navigation that direction.
        //ProductService.CurrentPage = ProductService.CurrentPage += 1;

        if(NavigationManager.BaseUri.Equals($"/shop/products/{newPage}"))
        {
            // Do nothing.
        }else
        {
            NavigationManager.NavigateTo($"shop/products/{newPage}");
        }
    }
    Severity s = Severity.Success;
    string message = string.Empty;
    private ReusableResultSnackbar? resultSnackbar;
}
